---
title: Anciens MMI
---

{% assign m = site.data.alumni | where: 'gender', 'M' %}
{% assign f = site.data.alumni | where: 'gender', 'F' %}
<div class="row">
  <div class="offset-1 col-10">
    <h2>
      {{ m.size }} + {{ f.size }} = {{ site.data.alumni.size }}
    </h2>
  </div>
</div>
<section>
  <div class="row">
    {% for alum in site.data.alumni %}
      {% assign mod = forloop.index0 | modulo: site.data.grid.classes.size %}
      <article class="{{ site.data.grid.classes[mod] }} mt-5">
        <img src="/assets/images/alumni/{{ alum.name | slugify: 'latin' }}.jpeg" alt="{{ alum.name }}" class="img-fluid img-full">
        <h3 class="mt-3"><a href="{{ competency.url }}">{{ alum.name }}</a></h3>
        <p>
          {% if alum.promotion %}
            MMI {{ alum.promotion }} •
          {% endif %}
          {{ alum.job }}
        </p>
        {% if alum.linkedin %}
          <a href="{{ alum.linkedin }}" class="btn" target="_blank" rel="noreferrer">LinkedIn</a><br>
        {% endif %}
        {% if alum.site %}
          <a href="{{ alum.site }}" class="btn" target="_blank" rel="noreferrer">Site</a><br>
        {% endif %}

        <ul class="list-unstyled">
          {% for path in alum.paths %}
            <li>{{ path }}</li>
          {% endfor %}
        </ul>
      </article>
    {% endfor %}
  </div>
</section>
