---
title: Candidatures
---

<div class="row">
  <div class="offset-1 col-10 col-md-3">
    L’admission en MMI se fait par la plateforme Parcoursup. Tous les bacs généraux ou technologiques sont concernés, quelles que soient les spécialités choisies.

    <h3>Qualités générales</h3>
    <p>
      Culture générale (actualité, nouvelles technologies, tendances du numérique) ;
      maîtrise du français écrit et oral de façon adaptée ;
      connaissance suffisante de l’anglais oral et écrit pour progresser pendant la formation ;
      sens critique ;
      capacité à évoluer dans un environnement numérique et connaissances de base en bureautique.
    </p>

    <h3>Qualités techniques et scientifiques</h3>
    <p>
      Intérêt pour les techniques et la communication numérique (culture scientifique, conception et programmation Web) ;
      curiosité pour la création de sites web, la vidéo, les réseaux sociaux ;
      usage courant d’Internet et du numérique ;
      capacité à mobiliser ses connaissances ;
      aptitude au raisonnement scientifique/logique structuré et adapté à une situation.
    </p>

    <h3>Qualités humaines</h3>
    <p>
      Esprit d’équipe et capacité à s’intégrer ;
      attention et rigueur ;
      intérêt et motivation pour les matières techniques et la créativité (programmation, audiovisuel, communication, graphisme, etc.) ;
      implication et sens de l’organisation ;
      gestion de la charge de travail.
    </p>
  </div>
  <div class="offset-1 col-10 col-md-6">
    <img src="/assets/images/candidatures/paulin-jouhet-architecture.jpg" alt="IUT Bordeaux Montaigne" class="img-fluid">
  </div>
  <div class="offset-1 col-10 col-md-3">
    <h2 class="mb-2">Présentation du Bachelor Universitaire de Technologie (BUT)</h2>
  </div>
  <div class="offset-1 offset-md-5 col-10 col-md-6">
    {% include youtube.html id='SZWze1DDWMw' title='Présentation du Bachelor Universitaire de Technologie' %}
  </div>
  <div class="offset-1 col-10 col-md-3">
    <h2 class="mb-2">Présentation du BUT MMI</h2>
  </div>
  <div class="offset-1 offset-md-5 col-10 col-md-6">
    {% include youtube.html id='eq-in708IZE' title='Live sur le BUT MMI' %}
  </div>
</div>
