<section>
  <div class="row">
    <div class="offset-1 col-10">
      <h2>Une formation en phase avec les métiers et les enjeux de l'époque</h2>
    </div>
  </div>
  <div class="row">
    {% for competency in site.competencies %}
      <article class="{{ site.data.grid.classes[forloop.index0] }}">
        <h3><a href="{{ competency.url }}">{{ competency.title }}</a></h3>
        <p>{{ competency.description }}</p>
        <a href="{{ competency.url }}" class="btn">En savoir plus</a>
      </article>
    {% endfor %}
  </div>
</section>
