<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="contact" title="Comment venir?" %}
    </div>
  <!--
    <div class='four spacing'></div>
    <div class='large-8 medium-8 columns'>
      <div class='form'>
        <div class='row'>
          <form id='contact_form' class='dark' method='POST'>
            <div class='large-12 columns'>
              <p id='thanks'>
                Thanks for contacting us, we'll be in touch soon!
              </p>
            </div>
            <div class='medium-12 columns'>
              <input class='required' name='name' placeholder='NAME' type='text'>
              <input class='required email' name='email' placeholder='EMAIL' type='text'>
              <input class='required' name='subject' placeholder='SUBJECT' type='text'>
              <textarea class='required' name='message' placeholder='MESSAGE'></textarea>
              <input name="recipient" type="hidden" value="{{ site.email }}" />
              <div class='spacing'></div>
              <input class='button white' type='submit'>
            </div>
          </form>
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
  -->

    <div class='large-3 medium-3 columns'>
      <div class='content'>
        <h4>IUT Bordeaux Montaigne</h4>
        <p>Département MMI<br>
        1, Rue Jacques Ellul<br>
        Place Renaudel<br>
        33080 BORDEAUX Cédex</p>
      </div>
    </div>

    <div class='large-4 medium-4 columns'>
      <div class='content'>
        <h4>Tel</h4>
        <p>05 57 12 20 40</p>

        <h4>Mail</h4>
        <p>mmipub[at]iut.u-bordeaux-montaigne.fr</p>
      </div>
    </div>

    <div class='large-5 medium-5 columns'>
      <div class='content'>
        <h4>Itinéraire</h4>
        <p>Tram C, Arrêt : Sainte Croix<br>
        Bus 11, 16, 45, Arrêt : Meunier<br>
        Le département MMI de l’IUT Bordeaux Montaigne se trouve face à l’église Sainte Croix, entre la gare Saint Jean et la place de la Victoire.</p>
      </div>
    </div>
  </div>
</div>
