<footer class="mt-5 pt-4 pb-5 bg-light">
  <div class="row">
    <div class="offset-1 col-10 col-md-2 mt-5">
      <p>
        IUT Bordeaux Montaigne<br>
        Département MMI<br>
        1, Rue Jacques Ellul<br>
        Place Renaudel<br>
        33080 BORDEAUX Cedex
      </p>
    </div>
    <div class="offset-1 col-10 offset-md-2 col-md-2 mt-5">
      <p>
        L’IUT Bordeaux Montaigne se trouve face à l’église Sainte Croix, entre la gare Saint Jean et la place de la Victoire. Tram C, arrêt : Sainte Croix. Bus 11, 16, 45, arrêt : Meunier.
      </p>
    </div>
    <div class="offset-1 col-10 offset-md-2 col-md-2 mt-5">
      <p>
        <a href="https://www.facebook.com/mmibordeaux/" target="_blank" rel="noreferrer">Facebook</a><br>
        <a href="https://twitter.com/mmibdx" target="_blank" rel="noreferrer">Twitter</a><br>
        <a href="https://www.linkedin.com/school/mmibordeaux/" target="_blank" rel="noreferrer">LinkedIn</a><br>
      </p>
    </div>
    <div class="offset-1 col-10 col-md-2 mt-5">
      <p>
        Pour en savoir plus sur l'établissement,
        <a href="http://www.iut.u-bordeaux-montaigne.fr" target="_blank" rel="noreferrer">
          découvrez le site de l'IUT Bordeaux Montaigne</a>
        et
        <a href="http://www.iut.u-bordeaux-montaigne.fr/diplomes/dut/metiers-du-multimedia-et-de-linternet-mmi/" target="_blank" rel="noreferrer">
          la page du BUT MMI</a>.
      </p>
    </div>
    <div class="offset-1 col-10 offset-md-2 col-md-2 mt-5">
      <p>
        Découvrez la formation MMI sur le site <a href="http://iutmmi.fr/" target="_blank" rel="noreferrer">iutmmi.fr</a> et plongez dans les métiers du multimédia et de l'internet en vous inscrivant sur l'<a href="https://observatoire.iutmmi.fr" target="_blank" rel="noreferrer">Observatoire</a>.
      </p>
    </div>
    <div class="offset-1 col-10 offset-md-2 col-md-2 mt-5">
      <a href="/mentions-legales">Mentions légales</a><br>
    </div>
  </div>
</footer>
