<footer class="mt-5 mb-5">
  <div class="row">
    <div class="offset-1 col-10">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-md-2 mt-5">
      <p>
        IUT Bordeaux Montaigne<br>
        Département MMI<br>
        1, Rue Jacques Ellul<br>
        Place Renaudel<br>
        33080 BORDEAUX Cedex
      </p>
    </div>
    <div class="offset-2 col-md-3 mt-5">
      <p>
        +33 5 57 12 20 40<br>
        mmipub[at]iut.u-bordeaux-montaigne.fr<br>
        Facebook<br>
        Twitter<br>
        LinkedIn<br>
        MMI sur le site de l’IUT Bordeaux Montaigne<br>
        Site de l’ensemble des IUT MMI
      </p>
    </div>
    <div class="offset-md-1 col-md-2 mt-5">
      <p>
        L’IUT Bordeaux Montaigne se trouve face à l’église Sainte Croix, entre la gare Saint Jean et la place de la Victoire. Tram C, arrêt : Sainte Croix. Bus 11, 16, 45, arrêt : Meunier.
      </p>
    </div>
  </div>
</footer>
