<a class="visually-hidden-focusable" href="#content">Aller directement au contenu</a>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-transparent" aria-label="Barre de navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.svg" alt="MMI Bordeaux" width="100">
    </a>
    <div class="d-lg-none">
      <button class="navbar-toggler border-0 me-n2 mt-n2"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbar"
              aria-controls="navbar"
              aria-expanded="false"
              aria-label="Afficher/masquer la navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-mobile" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/assets/images/logo.svg" alt="MMI Bordeaux" width="100">
          </a>
          <button class="navbar-toggler border-0 me-n2 mt-n2"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbar"
                  aria-controls="navbar"
                  aria-expanded="false"
                  aria-label="Afficher/masquer la navigation">
            X
          </button>
          <ul class="navbar-nav text-center">
            {% for item in site.data.nav %}
              {% if item.children %}
                <li class="nav-item dropdown mt-4">
                  <a  class="nav-link dropdown-toggle"
                      href="#"
                      id="menu-{{ item.id }}"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">
                      {{ item.title }}
                  </a>
                  <ul class="dropdown-menu border-0 text-center"
                      aria-labelledby="menu-{{ item.id }}">
                      {% for child in item.children %}
                        <li>
                          <a class="dropdown-item text-wrap ps-2 mt-2" href="{{ child.path }}">
                            {{ child.title }}
                          </a>
                        </li>
                      {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="nav-item mt-4">
                  <a class="nav-link {% if page.url == item.path %}active{% endif %}" href="{{ item.path }}">{{ item.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <ul class="navbar-nav">
        {% for item in site.data.nav %}
          {% if item.children %}
            <li class="nav-item dropdown">
              <a  class="nav-link dropdown-toggle"
                  href="#"
                  id="menu-{{ item.id }}"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{ item.title }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end text-end border-0"
                  aria-labelledby="menu-{{ item.id }}">
                  {% for child in item.children %}
                    <li>
                      <a class="dropdown-item" href="{{ child.path }}">
                        {{ child.title }}
                      </a>
                    </li>
                  {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link {% if page.url == item.path %}active{% endif %}" href="{{ item.path }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
