<section>
  <div class="row mt-5">
    <div class="offset-md-1 col-md-10">
      <h3>Calendrier</h3>
      <p>En bleu les jours en entreprise, en vert les jours à l'Université</p>
      <img src="/assets/images/alternance/alternance-2021-2022-1.png" alt="Calendrier d'alternance 2021-2022 - 1" class="img-fluid">
    </div>
  </div>
  <div class="row mt-2">
    <div class="offset-md-1 col-md-10">
      <img src="/assets/images/alternance/alternance-2021-2022-2.png" alt="Calendrier d'alternance 2021-2022 - 1" class="img-fluid">
    </div>
  </div>
</section>
