<section>
  <div class="row mt-5">
    <div class="offset-md-1 col-md-10">
      <h3>Calendrier</h3>
      <p>En jaune les jours en entreprise, en bleu les jours à l'Université</p>
      <img src="/assets/images/alternance/alternance-2022-2024-1.png" alt="Calendrier d'alternance 2022-2024 - 1" class="img-fluid">
    </div>
  </div>
  <div class="row mt-2">
    <div class="offset-md-1 col-md-10">
      <img src="/assets/images/alternance/alternance-2022-2024-2.png" alt="Calendrier d'alternance 2022-2024 - 2" class="img-fluid">
    </div>
  </div>
</section>
