<section>
  <div class="row mt-5">
    <div class="offset-1 col-10">
      <h3>Kits alternance</h3>
      <p>
        Contenant les informations sur la rémunération, les calendrier selon les
        parcours, ...
      </p>
      <p>
        <a
          href="/assets/pdfs/alternance/kit-apprentissage-but-2-mmi-23-25.pdf"
          target="_blank"
          rel="noreferrer"
        >
          BUT 2 2023-2025 (pdf)
        </a>
      </p>
      <p>
        <a
          href="/assets/pdfs/alternance/kit-apprentissage-but-3-mmi-23-25.pdf"
          target="_blank"
          rel="noreferrer"
        >
          BUT 3 2023-2025 (pdf)
        </a>
      </p>
    </div>
  </div>
</section>
