<div class='full parallax social-networks' style="background-image: url({{ "/assets/images/@stock/socials-bg.jpg" | relative_url }})">
  <div class='two spacing'></div>
  <div class='row'>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='https://www.facebook.com/mmibordeaux/'>
          <i class='fa fa-facebook'></i>
        </a>
        <h4>Facebook</h4>
        <p>Suivez-nous sur Facebook</p>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='https://twitter.com/mmibdx'>
          <i class='fa fa-twitter'></i>
        </a>
        <h4>Twitter</h4>
        <p>Suivez nos tweets</p>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='http://www.iut.u-bordeaux-montaigne.fr/diplomes/dut/metiers-du-multimedia-et-de-linternet-mmi/'>
          <i class='fa fa-university'></i>
        </a>
        <h4>IUT Bordeaux Montaigne</h4>
        <p>Visitez le site de l'IUT</p>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='http://iutmmi.fr/'>
          <i class='fa fa-graduation-cap'></i>
        </a>
        <h4>MMI</h4>
        <p>Découvrez la formation</p>
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>