<div class='full parallax social-networks' style="background-image: url({{ "/assets/images/@stock/socials-bg.jpg" | relative_url }})">
  <div class='two spacing'></div>
  <div class='row'>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='http://facebook.com'>
          <i class='fa fa-facebook'></i>
        </a>
        <h4>Facebook</h4>
        <p>Connect us with facebook</p>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='http://twitter.com'>
          <i class='fa fa-twitter'></i>
        </a>
        <h4>Twitter</h4>
        <p>Follow our tweets</p>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='http://dribbble.com'>
          <i class='fa fa-dribbble'></i>
        </a>
        <h4>Dribbble</h4>
        <p>Share some latest works</p>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-3 columns'>
      <div class='big-social'>
        <a href='http://tumblr.com'>
          <i class='fa fa-tumblr'></i>
        </a>
        <h4>Tumblr</h4>
        <p>View some new trends</p>
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>