---
title: Bibliographie
description: Les ressources indispensables et recommandées
permalink: /bibliographie
---

<div class="row">
  <div class="offset-1 col-10">
    <h2>Ressources indispensables</h2>
  </div>
</div>
{% assign bibliography = site.data.bibliography | where: 'mandatory', true %}
{% include bibliography/list.html bibliography=bibliography %}

<div class="row">
  <div class="offset-1 col-10">
    <h2>Ressources recommandées</h2>
  </div>
</div>
{% assign bibliography = site.data.bibliography | where: 'mandatory', false %}
{% include bibliography/thumbs.html bibliography=bibliography %}
