---
layout: default
---
<div class="row">
  <div class="offset-1 col-10 col-md-3 mt-5">
    <img  src="/assets/images/bibliography/large/{{ page.cover }}"
          alt="{{ page.title }}"
          width="500"
          class="img-fluid img-full img-thumbnail">
  </div>
  <div class="offset-1 col-10 offset-md-1 col-md-5 mt-5">
    <p><b>{{ page.author }}</b></p>
    <p>{{ page.summary }}</p>
    {% if page.isbn %}
      <p class="text-muted small">ISBN {{ page.isbn}}</p>
    {% endif %}
    {% if page.site %}
      <a href="{{ page.site }}" target="_blank">Accéder à la ressource</a>
    <br />
    {% endif %} 
    {% if page.free_resource %}
    <a href="{{ page.free_resource }}" target="_blank">
      Accéder à la ressource gratuite
    </a>
    {% endif %}
    <hr class="mt-5 mb-5">
    {% if page.mandatory %}
      <span class="badge rounded-pill bg-primary">Indispensable</span>
    {% endif %}
    {% if page.importance %}
      <blockquote>{{ page.importance }}</blockquote>
    {% endif %}
    {% include bibliography/into.html book=page %}
  </div>
</div>
