<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.description}}">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
  </head>
  <body>
    {% include nav.html %}
    <main id="content">
      <header>
        <div class="background">
          <div class="row">
            {% assign pattern = "alum.paths contains '" | append: page.url | append: "'" %}
            {% assign alumni = site.data.alumni | where_exp: "alum", pattern %}
            {% if alumni.size == 0 %}
              {% assign alumni = site.data.alumni %}
            {% endif %}
            {% assign alumni = alumni | reverse %}
            {% for index in (0..47) %}
              {% assign modulo = index | modulo: alumni.size %}
              {% assign alum = alumni[modulo] %}
              <div class="col-2 col-md-1 {% if forloop.index0 > 35 %}d-none d-md-block{% endif %}">
                <img  src="/assets/images/alumni/{{ alum.name | slugify: 'latin' }}.jpeg"
                      alt="{{ alum.name }}"
                      width="600" height="600"
                      class="img-fluid img-full">
              </div>
            {% endfor %}
          </div>
          <div class="overlay"></div>
        </div>
        <div class="text">
          <div class="row">
            <div class="offset-1 col-md-7 col-10">
              <h1>
                {% if page.title_html %}
                {{ page.title_html }}
                {% else %}
                {{ page.title }}
                {% endif %}
              </h1>
            </div>
          </div>
        </div>
      </header>
      {% include breadcrumb.html %}
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="/assets/javascripts/bootstrap.bundle.min.js"></script>
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
  </body>
</html>
