<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{{ page.collection }}">
    {% include header.html %}

    <div class='full'>
      <div class='row'>
        <div class='large-8 columns large-centered'>
          {% include section-title.html small_title="MMI Bordeaux" title=page.title %}
        </div>
      </div>
    </div>

    <div class='full no-padding'>
      <div class='row'>
        <div class='large-12 columns'>
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
